body {
  margin-top: 150px;
}

.rotate {
  text-align: center;
  border: 2px solid #000;
  max-width: 350px;
  margin: auto;
  padding: 1rem;
}

p {
  font-size: 30px;
}

button {
  padding: 1.5vw 2.5vw;
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  background-color: #006d80;
}
